<div class="jumbotron text-center">
  <h1>Welcome to Angular ngIf Demo</h1>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-sm-4" *ngIf="displayColumn1">
      <h3>Column 1 Heading</h3>
      <p>column 1 content</p>
    </div>

    <div class="col-sm-4" *ngIf="displayColumn2">
      <h3>Column 2 Heading</h3>
      <p>column 2 content</p>
    </div>
    
    <div class="col-sm-4" *ngIf="displayColumn3">
      <h3>Column 3 Heading</h3>
      <p>column 3 content</p>
    </div>

  </div>
</div>